<section class="reviews container">
  <h2 class="reviews-header">
    <span class="reviews-header-choc">CHOCOLATE</span> IS LOVED
  </h2>
  <div class="cards-reviews">
    <div class="reviews-list">
      <div class="reviews-item">
        <img
          class="review-img"
          src="../img/Review-1-1x-min.png"
          srcset="../img/Review-1-1x-min.png 1x, ../img/Review-1-2x-min.png 2x"
          alt="Victoria Dobrzhanska"
          width=""
        />
        <h3 class="reviews-title">Victoria Dobrzhanska</h3>
        <p class="reviews-text">
          I love this chocolate bar. Perfect combination of light crispy wafer,
          covered in a thin layer chocolate.
        </p>
      </div>
      <div class="reviews-item">
        <img
          class="review-img"
          src="../img/Review-2-1x-min.png"
          srcset="../img/Review-2-1x-min.png 1x, ../img/Review-2-2x-min.png 2x"
          alt="Nazar Babenko"
          width=""
        />
        <h3 class="reviews-title">Nazar Babenko</h3>
        <p class="reviews-text">
          This chocolate confection is a delight! A delight! The wafer is light
          and crisp, the hazelnut cream is smooth, and the chocolate is good.
        </p>
      </div>
      <div class="reviews-item">
        <img
          class="review-img"
          src="../img/Review-3-1x-min.png"
          srcset="../img/Review-3-1x-min.pngg 1x, ../img/Review-3-2x-min.png 2x"
          alt="Olena Kampusch"
          width=""
        />
        <h3 class="reviews-title">Olena Kampusch</h3>
        <p class="reviews-text">
          Chocolate is a family favourite treat. Love the delicious smooth
          chocolate and the creaminess inside. The wafer is soft but crunchy.
        </p>
      </div>
      <div class="reviews-item">
        <img
          class="review-img"
          src="../img/Review-4-1x-min.png"
          srcset="../img/Review-4-1x-min.pngg 1x, ../img/Review-4-2x-min.png 2x"
          alt="Natalia Sus"
          width=""
        />
        <h3 class="reviews-title">Natalia Sus</h3>
        <p class="reviews-text">
          The chocolate assortment was delicious. Both dark and milk chocolate
          pieces were smooth and just right on the sweetness level.
        </p>
      </div>
    </div>
  </div>
  <button class="review-btn" type="button">Leave a review</button>
</section>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="../js/slick.min.js"></script>
<script src="../js/script-slick.js"></script>
